:root {
	/* Color variables */
	--primary-color: #1c4a5e;
	--secondary-color: #BBD8E8;
	--tertiary-color: #D5E6F0;
	--quaternary-color: #EAF4FA;
	--quinary-color: white;

	/* Hover variables */
	--shop-button-hover: #36667b;

	/* Box-shadow variables */
	--primary-shadow: 0 0.5rem 1rem rgba(28, 74, 94, 0.5);
	--secondary-shadow: 0 0.2rem 0.6rem rgba(28, 74, 94, 0.5);
	--shop-item-button: 0 0.2rem 0.2rem rgba(28, 74, 94, 0.5);
	--shop-item-button-hover: 0 0.1rem 0.2rem rgba(28, 74, 94, 0.5);
	--shop-item-button-active: 0 0.05rem 0.05rem rgba(28, 74, 94, 0.5);

	/* Font styles */
	--header-font-family: 'Aladin', sans-serif;
	--header-font-size: 5rem;

	--navbar-font-family: 'Roboto', sans-serif;
	--navbar-font-size: 1.2rem;

	--slideshow-font-family: ;
	--slideshow-font-size: ;

	--h2-font-size: ;
	--h2-font-family: ;

	--body-font-size: ;
	--body-font-family: ;


	/* Gaps */
	--gap-column: ;
	--gap-row: ;
}