
.shop__cart-wrapper {
	position: relative;
	width: 100%;
}

.shop__cart {
	display: flex;
	margin: 1rem;
	align-items: center;
	justify-content: center;
	width: 22rem;
	height: 2.6rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	border-radius: 0.1rem;
}

.shop__cart-product-details {
	position: absolute;
	right: 0;
}