.contact__title,
.contact__location,
.contact__opening-hours {
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: var(--primary-color);
	text-transform: uppercase;
}

.contact__paragraph,
.contact__address {
	margin: 1rem auto;
	padding: 1rem;
	width: 80%;
	color: var(--primary-color);
}

.contact__email {
	margin: 1rem auto;
	padding: 1rem;
	width: 80%;
	color: var(--primary-color);
}

.contact__email a {
	color: var(--primary-color);
	font-weight: 600;
}

.contact__address {
	width: 50%;
	margin: 1rem auto 5rem auto;
}

.contact__map {
	width: 100%;
	margin: 1rem auto;
}

