.filter__buttons-and-shop__cart {
	display: flex;
	margin: 0 auto;
	padding: 0 1rem;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background: var(--secondary-color);
	position:sticky;
	z-index: 20;
	top: 0;
	font-family: var(--navbar-font-family)
}

.shop__container-filter-buttons {
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-evenly;
	align-items: center;
	background: var(--secondary-color);
}

.shop__container-filter-button {
	margin: 0.5rem;
	padding: 0.5rem 1.5rem;
	border-radius: 5rem;
	border: 1.5px solid var(--primary-color);
	font-size: 1rem;
	background: var(--tertiary-color);
	color: var(--primary-color);
	cursor: pointer;
	box-shadow: 0.1rem 0.1rem 0 var(--primary-color);
	text-decoration: none;
	}

.shop__container-filter-button:hover {
	box-shadow: 0.06rem 0.06rem 0 var(--primary-color);
	background-color: var(--quaternary-color);
}

.shop__container-filter-button:active {
	box-shadow: none;
	background-color: var(--quinary-color);
}

.shop__container-filter-buttons-mobile {
	display: none;
}

@media screen and (max-width: 894px) {
	.shop__container-filter-buttons-mobile-container {
		display: flex;
		width: 50%;
		justify-content: center;
	}

	.shop__container-filter-buttons-mobile {
		display: flex;
		width: 100%;
		margin: 1rem;
		background: var(--secondary-color);
		color: var(--primary-color);
		text-transform: uppercase;
		border: 0.1rem solid var(--primary-color);
		padding: 0.6rem;
		justify-content: center;
		text-align: center;
		cursor: pointer;
	}

	.shop__container-filter-buttons {
		display: none;
	}

	.shop__container-filter-buttons--visible {
		display: flex;
		flex-direction: column;
		margin: 3.45rem auto;
		padding: 1rem;
		position: absolute;
		flex-wrap: wrap;
		width: 41vw;
		background-color: var(--secondary-color);
		justify-content: center;
		z-index: 50;
		border: 0.1rem solid var(--primary-color);
	}

	.shop__container-filter-button {
		margin: 0.3rem;
		padding: 0.5rem 1rem;
		border: none;
		background: none;
		box-shadow: none;
	}

	.shop__container-filter-button:hover {
		background: transparent;
		box-shadow: none;
	}
}

@media screen and (max-width: 750px) {
	.shop__container-filter-buttons-mobile-container {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.filter__buttons-and-shop__cart {
		flex-direction: column-reverse;
		position: relative;
	}

		.shop__container-filter-buttons-mobile {
			width: 100%;
			border: 0.1rem solid var(--primary-color);
			margin: 0 auto;
		}

		.shop__container-filter-buttons--visible {
			width: 94vw;
			margin-top: 2.45rem;
		}

		.shop__container-filter-button {
			margin: 0.3rem;
			padding: 0.5rem 1rem;
			border: none;
			background: none;
			box-shadow: none;
		}

		.shop__container-filter-button:hover {
			background: transparent;
			box-shadow: none;
		}
}