footer {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	background-color: var(--primary-color);
	width: 100%;
	padding: 1rem 3rem;
	justify-content: center;
	font-family: var(--navbar-font-family);
}

.footer__section-links {
	display: flex;
	width: 70%;
	flex-direction: row;
	list-style: none;
	padding: 1rem;
	margin: 0 auto;
	justify-content: center;
	border-bottom: 1px solid var(--tertiary-color);
}

.footer__section-links-li {
	padding: 1rem;
}

.footer__section-links-li img {
	width: 4rem;
}

.footer__copyright {
	margin: 2rem auto;
	color: var(--tertiary-color);
	width: 100%;
	text-align: center;
}