.navbar {
	height: 18rem;
	background-color: #266079;
}

.navbar__logo {
	margin: 0 auto;
	padding: 5rem;
	font-size: 3rem;
	width: 100vw;
	text-align: center;
	color: white;
}

.navbar__logo a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.navbar__items {
	display: flex;
	margin: 1rem auto;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.navbar__menu {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.navbar__menu-link {
	margin: 0rem;
	padding: 1rem;
	list-style: none;

}

.navbar__menu a {
	text-decoration: none;
	color: white;
}