.navbar {
	height: auto;
	background-color: rgb(38, 96, 121);
}

.navbar__logo {
	margin: 0 auto;
	padding: 5rem;
	font-size: 3rem;
	width: 100vw;
	text-align: center;
	font-family: var(--header-font-family);
	font-size: 5rem;
}

.navbar__logo a {
	text-decoration: none;
	cursor: pointer;
	color: var(--secondary-color);
	text-shadow: 0 10px rgba(0, 0, 0, 0.5);
}

.navbar__items {
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding: 0 3rem 1rem 3rem;
	align-items: center;
	justify-content: space-between;
}

.navbar__menu {
	display: flex;
	width: 60%;
	justify-content: space-between;
}

.navbar__menu-link {
	margin: 0rem;
	list-style: none;
}

.navbar__menu a {
	text-decoration: none;
	color: white;
}

.navbar__search-container {
	display: flex;
	position:relative;
	align-items: center;
	padding: 1rem 2rem;
}

.navbar__search-input {
	width: 11rem;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	border: none;
	color: var(--primary-color);
}

.navbar__search-button {
	background: none;
	border: none;
	position: absolute;
	right: 0;
}

.navbar__search-button img {
	width: 3rem;
}