.navbar {
	height: 18rem;
	background-color: #266079;
}

.navbar__logo {
	margin: 0 auto;
	padding: 5rem;
	font-size: 3rem;
	width: 100vw;
	text-align: center;
	color: white;
}

.navbar__logo a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.navbar__items {
	display: flex;
}

.navbar__menu {
	margin: 0 auto;
	padding: 1rem 2rem 2rem 2rem ;
	display: flex;
	justify-content: center;
}

.navbar__menu li {
	list-style: none;
}

.navbar__menu a {
	text-decoration: none;
	color: white;
}