.menu__title {
	display: flex;
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	text-align: center;
	justify-content: center;
	color: var(--primary-color);
	text-transform: uppercase;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 4rem auto;
	width: 100%;
	justify-content: center;
	font-family: var(--navbar-font-family);
	color: var(--primary-color);
}

.menu__aside {
	margin: 0 auto;
	width: 20%;
	padding: 1rem 3rem;
	background-color: var(--tertiary-color);
	text-transform: uppercase;
}

.menu__aside-links {
	list-style: none;
	position: sticky;
	top: 0;
}

.menu__aside-link {
	margin: 1rem;
}

.menu__aside-link a {
	text-decoration: none;
	color: var(--primary-color);
	font-weight: 600;
}

.menu__container {
	margin: 0 auto;
	padding: 1rem 3rem;
	width: 80%;
}

.menu__container-section {
	background-color: var(--tertiary-color);
}

.menu__container-section-item {
	display: flex;
	justify-content: space-evenly;
}

.menu__container-section-item-image {
	width: 20%;
	border: 0.4rem solid var(--quinary-color);
	object-fit: cover;
}

.menu__container-section-item-info {
	width: 70%;
}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 768px) {
	.menu {
		flex-direction: column;
	}

	.menu__aside {
		width: 100%;
	
	}	

	.menu__aside-links {
		display: flex;
		flex-wrap: wrap;

	}

	.menu__aside-link {
		margin: 0.5rem;
	}


}