.menu {
	display: flex;
	justify-content: center;
	margin: 0 auto 4rem auto;
	justify-content: center;
	font-family: var(--navbar-font-family)
}

.menu__aside {
	display: flex;
	flex-direction: column;
}

.menu__title {
	display: flex;
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	text-align: center;
	justify-content: center;
	color: var(--primary-color);
	text-transform: uppercase;
}