.shop__title {
	display: flex;
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	text-align: center;
	justify-content: center;
	color: var(--primary-color);
	text-transform: uppercase;
}

.shop__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem auto;
	justify-content: center;
}

.shop__container-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 2rem;	
	padding: 0 1rem;
}

.shop__container-item {
	display: flex;
	flex-direction: column;
	background: var(--tertiary-color);
	text-decoration: none;
	color: var(--primary-color);
	justify-content: center;
	width: 100%;
	box-shadow: var(--secondary-shadow);
}

.shop__container-item-image {
	width: 80%;
	margin: 0.5rem auto;
	padding: 1rem;
}

.shop__container-item-artist {
	text-align: center;
	margin-bottom: 0.5rem;
}

.shop__container-item-album {
	text-align: center;
	margin-bottom: 0.5rem;
}

.shop__container-item-price-buy {
	margin: 1rem auto 2rem auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shop__container-item-buy {
	width: 50%;
	padding: 0.8rem;
	background: var(--primary-color);
	color: var(--secondary-color);
	border: none;
}

@media screen and (max-width: 1400px) {
	.shop__container-items {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}

@media screen and (max-width: 1000px) {
	.shop__container-items {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(7, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.shop__container-items {
		display: grid;
		width: 96%;
		margin: auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(12, 1fr);
		gap: 1rem;
		padding: 0;
	}

	.shop__container-item-image {
		width: 90%;
		margin: 0.6rem auto;
		padding: 1rem;
	}

	.shop__container-item-price-buy {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem auto;
	}

	.shop__container-item-price {
		margin-bottom: 1rem;
	}

	.shop__container-item-buy {
		margin: 0 auto;
		width: 100%;
		padding: 0.8rem;
		justify-content: center;
	}
}

