.main-page {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
}

.main__header {
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	color: var(--primary-color);
	text-transform: uppercase;
	text-align: center;
}

.main__paragraph {
	margin: 1rem auto;
	width: 80%;
	color: var(--primary-color);
}

.main__slideshow {
	position: relative;
	margin: 3rem auto 5rem auto;
	width: 95%;
	max-width: 60rem;
	height: 100vh;
	background: var(--tertiary-color);
	border: 0.1rem solid var(--primary-color);
	color: var(--primary-color);
}

.main__slideshow-slide {
	position: absolute;
	top: -2rem;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}

.main__slideshow-slide--active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__slideshow-slide-image {
	width: 80%;
	max-width: fit-content;
	height: 80%;
	min-width:fit-content;
	object-fit: cover;
	border: 1rem solid var(--quinary-color); 
}

.main__slideshow-slide-caption {
	position: absolute;
	bottom: 1.8rem;
	left: 50%;
	transform: translate(-50%);
	width: 70%;
}

.main__slideshow-controls {
	position: relative;
	z-index: 60;
	height: 100%;
}

.main__slideshow-next-button {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: transparent;
	border: none;
}

.main__slideshow-next-button img {
	max-width: 6vw;
}


.main__slideshow-previous-button {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: transparent;
	border: none;
}

.main__slideshow-previous-button img {
	max-width: 6vw;
}

.main__slideshow-dots {
	display: flex;
	position: relative;
	bottom: 2.6rem;
	left: 0;
	width: 100%;
	justify-content: center;
	z-index: 70;
}

.main__slideshow-dot {
	margin: 0.3rem;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 100%;
	background: var(--primary-color);
	border: 0.1rem solid var(--secondary-color);
}

.main__slideshow-dot:hover,
.main__slideshow-dot:active {
	background: var(--secondary-color);
}

@media screen and (max-width: 768px) {
	.main__paragraph {
		width: 95%;
	}

	.main__slideshow {
		display: block;
		margin: 3rem auto 2rem auto;
		background: none;
		border: none;
		width: 96%;
		height: 100%;
	}

	.main__slideshow-controls,
	.main__slideshow-previous,
	.main__slideshow-next,
	.main__slideshow-dots {
		display: none;
	}

	.main__slideshow-slide {
		display: flex;
		flex-direction: column;
		position: relative;
		margin: 1rem auto;
		justify-content: center;
	}

	.main__slideshow-slide-image {
		min-width:auto;
		width: 100%;
		}

	.main__slideshow-slide-caption {
		position: relative;
		bottom: 0;
		left: 0;
		transform: translate(0%);
		margin: 1rem auto;
		width: 95%;
		text-align: left;
	}
}