
.main__header {
	display: flex;
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	justify-content: center;
	color: var(--primary-color);
	text-transform: uppercase;
	text-align: center;
	font-family: var(--navbar-font-family)
}

.main__paragraph {
	margin: 1rem auto;
	padding: 1rem;
	width: 80%;
	color: var(--primary-color);
}

@media screen and (max-width: 768px) {
	.main__paragraph {
		width: 95%;
	}

	.main__slideshow {
		display: flex;
		margin: 0 auto;
		flex-direction: column;
		width: 100%;
	}

	.main__slideshow-slides {
		margin: 1rem auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
	}

	.main__slideshow-slide-image {
		width: 95%;
	}

	.main__slideshow-slide-caption {
		width: 95%;
	}
}