.about__us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto 4rem auto;
	justify-content: center;
	font-family: var(--navbar-font-family)
}

.about__us-title {
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: var(--primary-color);
	text-transform: uppercase;
}

.about__us-paragraph {
	margin: 1rem auto;
	padding: 1rem;
	width: 80%;
	color: var(--primary-color);
	font-size: var(--intro-font-size);
}

.about__us-staff {
	display: flex;
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	text-align: center;
	justify-content: center;
	color: var(--primary-color);
	text-transform: uppercase;
	font-size: 2rem;
}

.about__us-staff-container {
	margin: 1rem 3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;	
	padding: 0 1rem;
}

.about__us-staff-container-person {
	display: flex;
	flex-direction: column;
	background: var(--tertiary-color);
	text-decoration: none;
	color: var(--primary-color);
	justify-content: center;
	width: 100%;
	box-shadow: var(--secondary-shadow);
	border: 0.1rem solid var(--primary-color);
}

.about__us-staff-container-person-img {
	width: 80%;
	margin: 2rem auto;
	border: 0.5rem solid var(--quinary-color);
	object-fit:cover;
}

.about__us-staff-container-person-name {
	text-align: center;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.about__us-staff-container-person-role {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 2rem;
}

.about__us-staff-container-person-credits {
	text-align: center;
	margin-bottom: 3rem;
}

@media screen and (max-width: 1400px) {
	.about__us-staff-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 1000px) {
	.about__us-staff-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.about__us-paragraph {
		width: 95%;
		margin: 0 auto;
	}

	.about__us-staff-container {
		margin: 1rem auto;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;	
	}

	.about__us-staff-container-person-img {
		width: 95%;
		margin: 0.5rem auto;
	}
}

@media screen and (max-width: 430px) {
	.about__us-staff-container {
		gap: 1rem;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.about__us-staff-container-person-img {
		width: 94%;
		margin: 0.5rem auto;
	}

	.about__us-staff-container-person-name {
		margin: 1rem auto;
	}

	.about__us-staff-container-person-credits {
		margin: 1rem auto 2rem auto;
	}
}
