.to-top__button {
	position: fixed;
	background:none;
	border: none;
	right: 0;
	bottom: 3rem;
	cursor: pointer;
	z-index: 100;
}

.to-top__button img {
	width: 3rem;
	margin: 0.2rem;
}

.hidden {
	display: none;
}

@media screen and (max-width: 768px) {
	.to-top__button img {
		width: 2.2rem;
		margin: 0;
	}
}