.shop__container-monthly-vinyl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	margin: 2rem auto 5rem auto;
	border: 0.1rem solid var(--primary-color);
	color: var(--primary-color);
	background-color: var(--tertiary-color);
	box-shadow: var(--primary-shadow);
}

.shop__container-monthly-vinyl-header {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 0.1rem solid var(--primary-color);
	font-size: 2rem;
}

.shop__container-monthly-vinyl-image {
	width: 60%;
	margin: 2rem auto;
	border: 1rem solid white;
}

.shop__container-monthly-vinyl-artist {
	width: 100%;
	margin: 0 auto 1rem auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
}

.shop__container-monthly-vinyl-album {
	width: 100%;
	margin: 1rem auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}

.shop__container-monthly-vinyl-description {
	width: 80%;
	margin: 2rem auto;
}

.shop__container-monthly-vinyl-link {
	width: 80%;
	margin: 1rem auto;
	color: var(--primary-color);
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}

.shop__container-monthly-vinyl-link:hover {
	text-decoration: underline;
}

.shop__container-monthly-vinyl-price-cart {
	display: flex;
	margin: 2rem auto 4rem auto;
	width: 80%;
	justify-content: space-between;
	align-items: center;
}

.shop__container-monthly-vinyl-price {
	width: 40%;
	font-size: 1.4rem;
}

.shop__container-monthly-vinyl-buy {
	width: 60%;
	color: var(--secondary-color);
	border: none;
	padding: 1rem 4rem;
	background: var(--primary-color);
	font-size: 1.1rem;
	font-weight: 500;
	box-shadow: var(--shop-item-button);
}

.shop__container-monthly-vinyl-buy:hover {
	background: var(--shop-button-hover);
	color: var(--quinary-color);
	box-shadow: var(--shop-item-button-hover);
}

.shop__container-monthly-vinyl-buy:active {
	box-shadow: var(--shop-item-button-active);
}

@media screen and (max-width: 1400px) {
	.shop__container-monthly-vinyl {
		width: 80%;
	}
}

@media screen and (max-width: 1000px) {
	.shop__container-monthly-vinyl {
		width: 85%;
	}
}

@media screen and (max-width: 894px) {
	.shop__container-monthly-vinyl {
		margin: 0 auto 2rem auto;
	}
}

@media screen and (max-width: 768px) {
	.shop__container-monthly-vinyl {
		width: 96%;
		margin: 2rem auto 3rem auto;
	}

	.shop__container-monthly-vinyl-image {
		width: 90%;
		margin: 1rem auto;
	}

	.shop__container-monthly-vinyl-price {
		margin-bottom: 1rem;
	}

	@media screen and (max-width: 520px) {
		.shop__container-monthly-vinyl-description,
		.shop__container-monthly-vinyl-link  {
			width: 90%;
		}

		.shop__container-monthly-vinyl-price-cart {
			flex-direction: column;
			width: 100%;
			margin: 1rem auto 2rem auto;
		}

		.shop__container-monthly-vinyl-price {
			width: 90%;
			text-align: left;
		}

		.shop__container-monthly-vinyl-buy {
			width: 90%;
			margin: 1rem auto 0.5 auto;
			font-size: 1rem;
		}
	}

}