.shop__container-monthly-vinyl {
	width: 60%;
	margin: 2rem auto 4rem auto;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	background-color: var(--tertiary-color);
}

.shop__container-monthly-vinyl-header {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 2px solid var(--primary-color);
	font-size: 2rem;
}

.shop__container-monthly-vinyl-img {
	display: flex;
	width: 60%;
	margin: 2rem auto;
	justify-content: center;
	border: 1rem solid white;
}

.shop__container-monthly-vinyl-information {
	width: 80%;
	margin: 2rem auto;
}

.shop__container-monthly-vinyl-artist {
	width: 100%;
	margin: 1rem auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
}

.shop__container-monthly-vinyl-album {
	width: 100%;
	margin: 1rem auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}

.shop__container-monthly-vinyl-description {
	margin: 1rem auto;
}

.shop__container-monthly-vinyl-link {
	width: 100%;
	margin: 1rem auto;
	color: var(--primary-color);
	font-weight: 600;
}

.shop__container-monthly-vinyl-price-cart {
	display: flex;
	margin: 2rem auto 4rem auto;
	width: 80%;
	justify-content: space-between;
	align-items: center;
}

.shop__container-monthly-vinyl-price {
	font-size: 1.4rem;
}

.shop__container-monthly-vinyl-buy {
	color: var(--secondary-color);
	border: none;
	padding: 1rem 4rem;
	background: var(--primary-color);
	font-size: 1.2rem;
}